<p>Geachte <!-- [NAAM] -->,</p>
Er is een nieuw wachtwoord aangevraagd voor je account, of er is een nieuw account voor je aangemaakt.
<br/><br/>
Inloggen kan met de volgende gegevens:<br/>
E-mailadres: <!-- [EMAILADRES] --><br/>
Wachtwoord: <!-- [WACHTWOORD] --><br/>
<br />
Nadat je de eerste keer bent ingelogd dien je het wachtwoord te wijzigen.
<br />