				</td>
				<td width="20">&nbsp;</td>
			</tr>
			<tr><td colspan="3">&nbsp;</td></tr>
			<tr>
				<td>&nbsp;</td>
				<td><p>Met vriendelijke groet,<br /><br />Dordanov</p></td>
				<td>&nbsp;</td>
			</tr>
			<tr><td colspan="3">&nbsp;</td></tr>
		</table>
		
	</body>
</html>