div.container div.login-container
{
	width: 200px;
	margin-top: -10px;
}
	div.container div.login-container .btn
	{
		padding-top: 10px;
	}
	

div.feedback
{
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 4px;
}
	div.feedback.info
	{
		background-color: #dff0d8;
		border-color: #d6e9c6;
		color: #3c763d;
	}
	div.feedback.warning
	{
		background-color: #fcf8e3;
		border-color: #faebcc;
		color: #8a6d3b;
	}
	div.feedback.error
	{
		background-color: #f2dede;
		border-color: #ebccd1;
		color: #a94442;
	}
	
div.fieldMessage
{
	color: #a94442;
}

div.back-nav
{
	margin-bottom: 15px;
}

.text-less-relevant
{
	color: #999;
	font-size: 0.8em;
}
.text-small
{
	font-size: 0.8em;
}
	td.text-small, 
	td.text-less-relevant
	{
		padding-top: 10px !important;
	}
	td > span.text-small,
	td > span.text-less-relevant
	{
		padding-top: 2px;
	}

.text-bold
{
	font-weight: bold;
}

.team-icon
{
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 10px;
	border-radius: 10px;
}


/* never a left border for the ratio table to support 'merging' of cells*/
table.table-bordered.table-ratio td
{
	border-left: none;
}
/* no right borders for the greyed parts of season overview */
table.table-bordered.table-ratio td.text-less-relevant
{
	border-right: none;
}


/* make labels look like badges for the numbers */
.label-numeric
{
	border-radius: 10px;
}

table th > label
{
	padding-top: 6px;
}

tr.submit-button-row
{
	background: none !important;
}

.col.col-submit
{
	margin-bottom: 15px;
}

div.footer
{
	padding: 15px;
}

.table-performance .progress
{
	margin: 0px;
}